<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <form method="POST" action="/listings/<%=listing._id%>/edit?_method=PUT">
        <input type="text" name="title" value="<%=listing.title%>">
        <br>
        <input type="text" name="description" value="<%=listing.description%>">    
        <br>
        <input type="text" name="image" value="<%=listing.image%>">
        <br>
        <input type="number" name="price" value="<%=listing.price%>">
        <br>
        <input type="text" name="location" value="<%=listing.location%>">
        <br>
        <input type="text" name="country" value="<%=listing.country%>">
        <button>Submit</button>   
    </form>
</body>
</html>