<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>
<body>
    <li>Title:<%=listing.title%></li>
    <li><%=listing.description%></li>
    <img src="<%=listing.image%>">
    <li>Price: &#8377;<%= listing.price.toLocaleString() %></li>
    <li>Location:<%=listing.location%></li>
    <li>Country:<%=listing.country%></li> 
    <a href="/listings/<%=listing._id%>/edit">Edit</a>   
    <form method="POST" action="/listings/<%=listing._id%>/delete?_method=DELETE">
        <button>Delete</button>
    </form>
</body>
</html>